<!-- RxJs Mostly Useble Operator -->

<button routerLink="">Home</button>&nbsp;&nbsp;
<button routerLink="of">Of</button>&nbsp;&nbsp;
<button routerLink="pipe">Pipe | Map | Filter</button>&nbsp;&nbsp;
<button routerLink="from">From | fromEvent</button>&nbsp;&nbsp;
<button routerLink="filter">Filter</button>&nbsp;&nbsp;
<button routerLink="concat">Concat | Take</button>&nbsp;&nbsp;
<button routerLink="concatMap">concatMap</button>&nbsp;&nbsp;
<button routerLink="merge">Merge</button>&nbsp;&nbsp;
<button routerLink="mergeMap">mergerMap</button>&nbsp;&nbsp;
<button routerLink="switchMap">switchMap</button>&nbsp;&nbsp;
<button routerLink="zip">Zip</button>&nbsp;&nbsp;
<button routerLink="first">First</button>&nbsp;&nbsp;
<button routerLink="pluck">Pluck</button>&nbsp;&nbsp;
<button routerLink="combineLatest">combineLatest</button>&nbsp;&nbsp;
<button routerLink="tap">Tap</button>&nbsp;&nbsp;
<button routerLink="tap">Time / Project</button>&nbsp;&nbsp;

<router-outlet></router-outlet>